*.out
*.txt
*.log
*.perf 

scheduler/*.out
scheduler/*.txt
scheduler/*.log
scheduler/*.perf 

memory_manager/*.out
memory_manager/*.txt
memory_manager/*.log
memory_manager/*.perf 

producer_consumer/*.log
producer_consumer/*.out
producer_consumer/*.txt
producer_consumer/*.perf 

.vscode/